{% extends 'core/base.html' %}

{% block content %}
<div class="container mt-2 mb-3 pt-2 pb-2">
    <div class="col-md-8 offset-md-1">
        <form method="post">
            {% csrf_token %}
            {{ form.media }}
            <div class="mb-3">
              <label for="id_title" class="form-label">Post Title</label>
              {{ form.title }}
            </div>
            <div class="mb-3">
                <label for="id_content" class="form-label">Body Content</label>
            {{ form.content }}    
            </div>
            
            <div class="mb-3">
                <label for="id_image" class="form-label">Select Image</label>
                {{ form.image }}
            </div>
            
            <div class="mb-3">
                <label for="id_video_link" class="form-label">Video Link</label>
                {{ form.video_link }}
            </div>

            <div class="mb-3">
                <input class="btn btn-danger block" style="background: linear-gradient(140deg,#42c3ca 0%,#42c3ca 50%,#42c3cac7 75%) !important;border: none;" type="submit" value="Create">
            </div>
        </form>
    </div>
</div>
{% endblock %}