{% extends 'core/base.html' %}

{% block content %}
<div class="container mt-2">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Verification Status</th>
            </tr>
        </thead>
        <tbody>
            {% for profile in audience %}
            <tr>
                <td>{{ profile.user.username }}</td>
                <td>{{ profile.user.email }}</td>
                <td>{{ profile.verified }}</td>
                <td><a href="{% url 'edit_user' profile.user.id %}">Edit</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}